{% extends 'base.html.twig' %}

{% block title %}New Twitch{% endblock %}

{% block body %}
    <h1>Create new Twitch</h1>

    {{ include('twitch/_form.html.twig') }}

    <a href="{{ path('app_twitch_index') }}">back to list</a>
{% endblock %}
