{% extends 'base.html.twig' %}

{% block title %}Stream{% endblock %}



{% block body %}
 <head>
    <title>Stream Twitch</title>
</head>
<iframe
    src="https://www.twitch.tv/rocket_97cast"
    height="<height>"
    width="<width>"
    allowfullscreen>
</iframe>
{% endblock %}